<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="/">
            Сервис рассылок
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="Переключить навигацию"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div
            class="collapse navbar-collapse"
            id="navbarContent"
        >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="{% url 'home' %}"
                    >
                        Главная
                    </a>
                </li>

                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="{% url 'recipient_list' %}"
                        >
                            Получатели
                        </a>
                    </li>

                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="{% url 'message_list' %}"
                        >
                            Сообщения
                        </a>
                    </li>

                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="{% url 'mailing_list' %}"
                        >
                            Рассылки
                        </a>
                    </li>
                {% if user.is_authenticated and user.role == "MANAGER" %}
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="{% url 'manager_user_list' %}"
                        >
                            Управление
                        </a>
                    </li>
                {% endif %}
                {% endif %}

            </ul>

            <ul class="navbar-nav">

                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <span class="navbar-text me-3">
                            {{ user.email }}
                        </span>
                    </li>

                    <li class="nav-item">
                        <form
                    method="post"
                    action="{% url 'logout' %}"
                    class="d-inline"
                >
                    {% csrf_token %}

                    <button
                        type="submit"
                        class="btn btn-link nav-link"
                    >
                        Выйти
                    </button>
                </form>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="/accounts/login/"
                        >
                            Войти
                        </a>
                    </li>

                    <li class="nav-item">
                        <a
                            class="nav-link"
                            href="/accounts/register/"
                        >
                            Регистрация
                        </a>
                    </li>

                {% endif %}

            </ul>
        </div>

    </div>
</nav>