{% extends "base.html" %}

{% block title %}
    Пароль изменён
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-7">

        <div class="alert alert-success">

            <h1 class="alert-heading">
                Пароль успешно изменён
            </h1>

            <p>
                Теперь вы можете войти в аккаунт
                с новым паролем.
            </p>

            <a
                href="{% url 'login' %}"
                class="btn btn-primary"
            >
                Войти
            </a>

        </div>

    </div>
</div>

{% endblock %}